.homeWrapper {
  padding: 5px;
}

.home_list {
  border: 2px solid var(--border-color);
  padding: 0 3px;
}

.commentWrapper {
  max-height: 100px;
  display: flex;
  background-color: var(--grey-color);
  padding: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 2px solid white;
}

.commentWrapper:hover {
  background-color: white;
  border: 2px solid var(--primary-color);
}


.imageWrapper {
  margin-right: 5px;
}

.imageWrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.commentBody {

}

.commentName {
  text-align: start;
  color: #052c39;
  font-size: 1.5em;
  font-weight: 900;
}

.commentText {
  text-align: justify; 
}