.sideBarWrapper {
 width: 100%;
}

.sideBar_title {
  display: flex;
  align-items: flex-end;
}

.sideBar_title > h1 {
  font-weight: bold;
  margin-left: 5px;
}

.sideBar_documentWrapper {
  transform: rotate(180deg);
}

.sideBar_documentWrapper > img {
  transform: scale(-1,1);
  width: 30px;
  height: 25px;
}