main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: calc(100% - 110px);
}

.ribbon {
  position: absolute;
  width: 100%;
  height: 76px;
  background-color: #bec4c4;
  z-index: -1;
  /*box-shadow: 0 1px 1px var(--border-color); */
}

.siteContentWrapper {
  display: flex;
  margin: 0 30px;
  padding-top: 5px;
  max-width: 1500px;
}

.siteContentMain {
  display: flex; 
  flex-direction: column; 
  width: 100%;
}

.siteContent {
  position: relative;
  background-color: white;
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  height: 100%;
}

.scrossLine {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px); 
  height: 2px;
  background-color: var(--primary-color);
}


@media (max-width: 1200px) {
  .siteContent {
    border-left: 2px solid var(--primary-color);
  }

  .siteContentWrapper {
    width: 100%;
  }
} 