.menuBar {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.menuBar > li {
  padding: 9px 30px;
  border: 2px solid #9fa3a3;
  margin-right: 2px;
  color: #3c7c81;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid white !important;
}

.menuBar > li:last-child {
  margin-right: 0;
}

.activePage {
  z-index: 1;
  color: black;
  border: 2px solid #3c7c81 !important;
  border-bottom: none !important;
  background-color: white;
}